<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ProjetICGO.Properties.Settings.ICGO_ETTBSConnectionString"
        connectionString="Data Source=srv-tfs;Initial Catalog=ICGO_ETTBS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
